<div class="header container-fluid"><h1>Rock, Paper, Scissors Online</h1><button class='btn btn-lg btn-success glyphicon glyphicon-pencil'>Sign-Up</button><button class='btn btn-lg btn-primary glyphicon glyphicon-user'>Sign-In</button>
</div>
<div class="main container-fluid">
	

</div>
<script>
$(document).ready(function(){
	$(".btn-lg").css('float',"right")
})